<body class="new-registration">
<div class="border-form-div">
  <h2>Add Collaborators To This Wiki</h2>
<%= form_for :collaborator do |f| %>
<%= f.text_field :emails_list %>
      <%= f.submit %>
    </div>
  <% end %>
  <h1>
    <%= @wiki.title %></h1><br>
  <small>
    submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %> <br>
  </small>

  <div class="row">
    <div class="col-md-8">
      <p><%= markdown(@wiki.body) %></p>
      <br>
      <%= link_to "Back To Wikis", wikis_path(@wiki), class: 'btn btn-info' %>
    </div>
  </div>
</div>